
.blog-post {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 1.5;
}

.hero-scroll {
padding-top: 100px;
text-align: center;
padding-bottom: 500px;
}

.hero-heading h1 {
  color: #F7F7F7;
  font-size: 80px;
  text-shadow: 1px 0px 0px #ccc;
  font-weight: 300;
}

.hero-subheading {
  color: #F7F7F7;
  font-size: 50px;
  text-shadow: 1px 0px 0px #ccc;
}
