// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-post {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 1.5;
}
